.nav-drawer-item {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	width: 100%;
	padding: 1.5rem 1rem;
	overflow-x: auto;
	border: 1px solid #EFEFEF;
	cursor: pointer;
}

.nav-drawer-item:hover {
	background-color: #EEEEEE;
}