:root {
	--nav-color: #C63E33;
}

* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

#root {
	overflow: auto;
}